[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-lambda-powertools = {extras = ["pydantic"],version = "*"}
devtools = "*"
sentry-sdk = "*"

[dev-packages]
pytest = "*"
boto3 = "*"

[requires]
python_version = "3.8"
